<header>
  <div class="logo">
    <h1 class="logo__title">Restauracja <span>EXpansja</span></h1>
    <p class="logo__subtitle">zaprasza codziennie</p>
  </div>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item {{getActive permalink '/'}}"><a href="/index.html">O nas</a></li>
      <li class="navigation__item {{getActive permalink '/menu.html'}}"><a href="/menu.html">Menu</a></li>
      <li class="navigation__item {{getActive permalink '/galeria.html'}}"><a href="/galeria.html">Galeria</a></li>
      <li class="navigation__item {{getActive permalink '/kontakt.html'}}"><a href="/kontakt.html">Kontakt</a></li>
    </ul>
  </nav>
  <div class="hero" style="background: url(static/images/{{hero.img}}) {{hero.position}}/cover;">
    <p class="hero__text">{{{hero.text}}}</p>
  </div>
</header>
