---
title: Menu
layout: layout.hbs
permalink: /menu.html
useMenuScript: true
hero:
  text: <span>Ty</span> decydujesz - <span>My</span> wykonujemy
  img: chili.jpg
  position: center
header: ZAPRASZAMY DO <span>OSTREGO</span> WYBORU
---

<div class="row">
  <div class="three columns">
    <h4>Kategorie</h4>
    <div class="menu" id="menu">
      {{#each menu.navigation}}
        <div id="kat{{add @index 1}}"><a href={{this.value}}>{{this.label}}</a></div>
      {{/each}}
    </div>
  </div>
  <div class="nine columns">
    <div class="menu-header">
      <h4>Menu</h4>
      <a href="static/images/alergeny.png">Informacja o alergenach</a>
    </div>

    {{!-- <p>Jesteśmy w trakcie aktualizacji menu. Za utrudnienia przepraszamy.</p> --}}

    {{#each menu.menu}}
      <table id={{this.id}}>
        {{#each this.items}}
          <tr>
            <td>{{this.number}}{{#if this.number}}.{{/if}}</td>
            <td>{{this.name}}</td>
            <td>{{{this.description}}}</td>
            <td>{{this.price}} {{ifIsNumber this.price "zł"}}</td>
          </tr>
        {{/each}}
      </table>
    {{/each}}

    <table id="napoje">
      <tr>
        <td><img src="static/images/galeria/napoje/dilmah.jpg" alt="">
          <div>
            <p>DILMAH EXCEPTIONAL <span>SEGAFREDO</span></p>
          </div>
        </td>
      </tr>
      <tr>
        <td><img src="static/images/galeria/napoje/carlsberg.jpg" alt="Carlsberg">
          <div>
            <p><span>PRAGNIENIE</span> od 160 lat <span>GASI</span></p>
          </div>
        </td>

      </tr>
      <tr>
        <td>
          <img src="static/images/galeria/napoje/wino.jpg" alt="">
          <div>
            <p>W winach odnajdujemy <span>SMAK</span> Włoch, Hiszpani, Ameryki, Mołdawii, Grecji... </p>
          </div>
        </td>
      </tr>
    </table>
    <table id="desery">
      <tr>
        <td>
          <img src="static/images/galeria/napoje/deser.jpg" alt="">
          <div>
            <p><span>ZAPRASZAMY</span> NA: <br> LODOWE MISY,<br> OWOCOWE KOKTAJLE, <br> SERNIK I
              SZRLOTKĘ</p>
          </div>
        </td>
      </tr>
    </table>
    <a href="tel:{{{removeWhitespaces base.phone}}}" class="tel">
      <div id="tel"></div>Zamów {{base.phone}}
    </a>
  </div>
</div>
